fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
bcrypt
python-dotenv
pydantic
email-validator
python-multipart
psycopg2-binary
httpx
scikit-learn
joblib
mediapipe
opencv-python
numpy
pandas
reportlab
openpyxl
xlsxwriter
websockets
