# Required shared service configuration
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=postgresql://username:password@host:port/dbname
ENV=development
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
NOTIFICATION_SERVICE_URL=http://127.0.0.1:8000/notifications
